<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion de Prêt de Matériel{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <header>
        <h1>Gestion de Prêt de Matériel Multimédia</h1>
    </header>

    <nav>
        <!-- Nav items can go here -->
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content can go here -->
    </footer>

    {% block script %}{% endblock %}
</body>
</html>
